@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 480px;
    padding: 20px;
    text-align: center;
    
}
h1 {
    font-size: 22px;
    margin-bottom: 15px; 
}
p {
    margin-top: 4px;
    font-size: 15px;
    color: #8A8D96;
    font-weight: 400;
    line-height: 1.5;
}
img {
    width: 100%;
    max-width: 280px;
    height: 260px;
    border-radius: 10px;
    padding-left:5px;
    margin-bottom: 25px;
}